body {
    background-color: blue;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif
}

.link {
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
}

a.homepagelink {
    color: white;
    font-weight: bold;
}

a.homepagelink:hover {
    color: black;
}

.title{
    border: 2px solid black;
    color: white;
    margin-right: 300px;
    margin-left: 300px;
}

img {
    width: 400px;
}

div.ingredientslist {
    text-align: center;
    color: white;
}

ul.ingredients {
    border: 2px solid black;
    font-weight: bold;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
}

div.stepslist {
    text-align: center;
}

ol.stepsinstructions {
    font-weight: bold;
    color: white;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
}