body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

img {
    width: 800px;
}

div.ingredientslist {
    text-align: center;
}

ul.ingredients {
    display: inline-block;
    text-align: left;
}

div.stepslist {
    text-align: center;
}

ol.stepsinstructions {
    display: inline-block;
    text-align: left;
}